<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SyTW - P3</title>
  <link  href="/css/style.css"  rel="stylesheet"> <!--  Insertar CSS  -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-
awesome/4.2.0/css/font-awesome.css">
</head>
<body>

	<div id="contenido">
	  <i class="fa fa-google"></i> <a href='/auth/google_oauth2'>    Sign in with Google</a>
	</div>
	<br>
	<div id="footer">
	<p> <b>© SYTW  </b> - Práctica 3 © - Realizado por: <b>Jhoanmary Prz Fariña</b></p>
	</div>
  
</body>
</html>