<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SyTW - P3</title>
  <link media="screen" href="../public/style.css" type="text/css" rel="stylesheet"> <!--  Insertar CSS  -->
</head>
<body>

	<div id="contenido">
	  <a href='/auth/google_oauth2'>Sign in with Google</a>
	</div>
	
	<div id="footer">
	<p> <b>© SYTW  </b> - Práctica 2 © - Realizado por: <b>Jhoanmary Prz Fariña</b></p>
	</div>
  
</body>
</html>